<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">



<div th:id="${car_id}" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button th:each="art, artIterStat: ${articles}" th:if="${artIterStat.index == 1}" type="button" data-bs-target="|#${car_id}|" th:data-bs-slide-to="${artIterStat.index}" class="active" aria-current="true" th:aria-label="${art.getArticle_title()}"></button>
        <button th:each="art, artIterStat: ${articles}" th:else="${artIterStat.index == 1}" type="button" data-bs-target="|#${car_id}|" th:data-bs-slide-to="${artIterStat.index}" th:aria-label="${art.getArticle_title()}"></button>
    </div>
    <div class="carousel-inner">
        <div th:each="art, artIterStat: ${articles}" class="carousel-item text-center" data-bs-interval="10000">
            <div class="d-flex  align-items-start flex-column" style="min-height:450px">
                <div class="logo_wrapper text-center mb-auto mt-5 col-12">
                    <img class="company_logo mx-auto" style="width:75%" th:src="@{/images/{ref}(ref=${art.getArticle_image_str()})}" th:alt="|Image for ${art.getArticle_title()}|">
                </div>
                <div class="information_wrapper my-0 col-8 mx-auto col-12 pt-4">
                    <div class="text-center justify-content-center">
                        <p class="fw-bold text-center my-0" th:text="${art.getArticle_title()}"></p>
                        <p class="text-center my-0" th:text="${art.getArticle_subtitle()}"></p>
                        <a th:href="${art.getArticle_Link()}" role="button" class="btn btn-outline-dark mt-4 mb-5">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" th:data-bs-target="|#${car_id}|" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" th:data-bs-target="|#${car_id}|" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</html>