<!--<hr class="bg-dark border-4 border-top border-danger">-->
<div class="bg-light d-flex col-12 w-100 text-dark border-top border-3" style="min-height:200px">
    <div class="col-12 col-md-5 ps-5 pt-3">
        <h5>About Me</h5>
        <p>Hello! My name is Aiden Stevenson Bradwell, a graduate of the University of Ottawa with an Honours BSc dual
            Major in Computer Science, Major in Psychology. Landing in Reading, United Kingdom in March 2023 I am
            currently seeking employment in the field of Computer Science.<br><br>
            I have extensive experience in project conceptualization, scheduling, development oversight, and hands-on
            coding. My interests are in team leadership, environmental innovation, public speaking, and project
            development.<br><br>
            Through my personal life I am a pub-musician, who frequently partakes in Visual and Musical Arts. I have a
            strong inclination for self-betterment through reading and exercising.<br><br>

        </p>
    </div>
    <div class="col-12 col-md-3 col-lg-2 mb-3 mt-5 mx-auto text-center">
        <h5>Site Pages</h5>
        <ul class="list-unstyled">
            <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Homepage</a></li>
            <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Articles</a></li>
            <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Projects</a></li>
            <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Resume</a></li>
            <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Contact Me</a></li>
        </ul>
    </div>
</div>