<!--<hr class="bg-dark border-4 border-top border-danger">-->
<div class="bg-light d-flex col-12 w-100 text-dark border-top border-3" style="min-height:200px">
    <div class="col-12 col-md-8 ps-5 pt-3">
        <h5>About Me</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed eros purus. Nulla euismod mauris ac risus elementum posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce egestas rutrum dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id varius augue. Curabitur vel congue ex. Sed suscipit consequat aliquam. Curabitur ullamcorper molestie turpis, vel bibendum risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis tristique risus at ex rutrum auctor.</p>
    </div>
    <div class="col-12 col-md-3 col-lg-2 mb-3 mt-5 mx-auto text-center">
        <h5>Site Pages</h5>
        <ul class="list-unstyled">
            <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Homepage</a></li>
            <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Articles</a></li>
            <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Projects</a></li>
            <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Resume</a></li>
            <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Contact Me</a></li>
        </ul>
    </div>
</div>