<!--<hr class="bg-dark border-4 border-top border-danger">-->
<div class="bg-light d-flex col-12 w-100 text-dark border-top border-3" style="min-height:200px">
    <div class="col-4 ps-5 pt-3">
        <h3 class="text-secondary">Aiden Stevenson Bradwell</h3>
        <p><b>Site Links:</b></p>
        <ul>
            <li>Projects</li>
            <li>Work Experience</li>
            <li>Resume</li>
            <li>Articles</li>
            <li>About Me / Contact</li>
        </ul>
    </div>
    <div class="col-4"></div>
    <div class="mt-4 col-4 my-5">
        <h4>About Me</h4>
        <p>Some bullshit here. Hire me!</p>
    </div>
</div>