<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Beserker Therapy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end mt-lg-5" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 pe-5">
                <li class="nav-item header_nav_item ms-1 "> <a class="nav-link active" aria-current="page" href="#"><p class="p-0 m-0">Home</p></a></li>
                <li class="nav-item header_nav_item ms-lg-4 ms-1 "> <a class="nav-link active" aria-current="page" href="#"><p class="p-0 m-0">Music</p></a></li>
                <li class="nav-item header_nav_item ms-lg-4 ms-1 "> <a class="nav-link active" aria-current="page" href="#"><p class="p-0 m-0">Performances</p></a></li>
                <li class="nav-item header_nav_item ms-lg-4 ms-1 "> <a class="nav-link active" aria-current="page" href="#"><p class="p-0 m-0">Contact</p></a></li>
            </ul>
        </div>
    </div>
</nav>