<style>
    .nav-btn-cstm {
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    }
</style>
<section id="splash_header" class="content mb-5 px-4" style="">
<!--    <div class="d-flex">-->
<!--        <div class="text-start text-white justify-content-start col-4 ps-5">-->
<!--            <h5 class="fw-bolder">Aiden<br>Stevenson<br>Bradwell</h5>-->
<!--        </div>-->
        <nav class="navbar navbar-expand-lg justify-content-end">
            <div class="container-fluid">
<!--                <a class="navbar-brand fw-bolder text-white text-center" href="/" style="font-size: 24px; line-height: 0.8;">Aiden<br>Stevenson<br>Bradwell</a>-->
                <a class="navbar-brand fw-bolder text-white text-center ms-4" href="/" style="font-size: 24px; line-height: 0.8;">Aiden Stevenson Bradwell</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#button_float" aria-controls="button_float" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="button_float" class="collapse navbar-collapse" style="">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-4">
                        <li class="nav-item mt-3 mt-lg-0">
                            <a class="btn btn-outline-light nav-btn-cstm w-100 w-lg-auto" href="#projects_link">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-light nav-btn-cstm w-100 w-lg-auto" href="#experience_link">Work Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-light nav-btn-cstm w-100 w-lg-auto" href="/Projects">Resume/About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-light nav-btn-cstm w-100 w-lg-auto" href="/Articles">Essays &amp; Articles</a>
                        </li>
                    </ul>
<!--                    <div id="first-btn">-->
<!--                        <a class="btn btn-outline-light fw-light" href="#projects_link">Projects</a>-->
<!--                    </div>-->
<!--                    <div id="second-btn">-->
<!--                        <a class="btn btn-outline-light fw-light ms-5" href="#experience_link">Work Experience</a>-->
<!--                    </div>-->
<!--                    <div id="third-btn">-->
<!--                        <a class="btn btn-outline-light fw-light ms-5" href="/Projects">Resume/About me</a>-->
<!--                    </div>-->
<!--                    <div id="fourth-btn">-->
<!--                        <a class="btn btn-outline-light fw-light ms-5" href="/Articles">Essays &amp; Articles</a>-->
<!--                    </div>-->
                </div>
            </div>
        </nav>
<!--    </div>-->
</section>