<nav class="navbar navbar-expand-lg navbar-light mt-0 pt-0">
    <div class="container-fluid justify-content-end">
        <button class="navbar-toggler mt-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end mt-0 pt-0" id="navbarSupportedContent">
                <div id="button_float" class="d-flex justify-content-end mt-5 pb-3" style="max-width:800px">
                    <div id="nav-item zeroth-btn">
                        <a class="btn btn-outline-light fw-light fw-bold" href="/">Home</a>
                    </div>
                    <div id="nav-item first-btn">
                        <a class="btn btn-outline-light ms-5 fw-light" href="/Projects">Projects</a>
                    </div>
                    <div id="nav-item second-btn">
                        <a class="btn btn-outline-light fw-light ms-5" href="/WorkExperience">Work Experience</a>
                    </div>
                    <div id="nav-item third-btn">
                        <a class="btn btn-outline-light fw-light ms-5" href="/AboutMe">Resume/About me</a>
                    </div>
                    <div id="nav-item fourth-btn">
                        <a class="btn btn-outline-light fw-light ms-5" href="/Articles">Essays & Articles</a>
                    </div>
                </div>
<!--            </nav>-->
        </div>

    </div>
</nav>