<!--<hr class="bg-dark border-4 border-top border-danger">-->

<div class="bg-light d-flex col-12 w-100 text-dark border-top border-3" style="min-height:200px">
  <div class="col-12 mb-3 mt-5 mx-auto text-center">
    <h5>Site Pages</h5>
    <ul class="list-unstyled">
      <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Homepage</a></li>
      <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Articles</a></li>
      <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Projects</a></li>
      <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Resume</a></li>
      <li class="mb-2 nav-link"><a class="fw-light text-decoration-none" href="">Contact Me</a></li>
    </ul>
  </div>
</div>