#splash_background {
	background: linear-gradient(-45deg, #fc00ff, #00dbde);
	background-size: 400% 400%;
	-webkit-animation: gradient 60s ease infinite;
    animation: gradient 45s ease-in-out infinite;
}