

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#splash_header {
	background: linear-gradient(-45deg, #fc00ff, #00dbde);
	background-size: 400% 400%;
	-webkit-animation: gradient 60s ease infinite;
    animation: gradient 45s ease-in-out infinite;
}


#main_title {
    font-family: 'Courier New', monospace;

}

#splash_name {
    font-size:100px !important;
    line-height:0.8;
}

