

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#splash_header {
	background: linear-gradient(-45deg, #fc00ff, #00dbde);
	background-size: 400% 400%;
	-webkit-animation: gradient 60s ease infinite;
    animation: gradient 45s ease-in-out infinite;
}


#main_title {
    font-family: 'Courier New', monospace;

}

#splash_name {
    font-size:100px !important;
    line-height:0.8;
}


.homepage_content {
    max-width:1500px;
    min-height:600px;
}



/* https://www.w3schools.com/howto/howto_css_flip_card.asp */

.work_cube {
    height: 325px;
    width: 325px;
    background-color: transparent;
    perspective: 1000px;
}



.flip-card-inner {
    position:relative;
    width:100%;
    height:100%;

    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.work_cube:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}