<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Aiden Stevenson Bradwell</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/carousel.css">
</head>
<header id="header">

</header>
<body>
<section id="project_header" class="content mx-auto px-lg-5 px-3 pt-5" style="max-width:1500px">
    <div id="project_title_wrapper" class="col-10 mx-auto text-center">
        <h1 class="fw-bolder fs-25" th:text="${project.getProject_name()}"></h1>
        <p class=" mx-auto col-10 col-md-8 col-lg-6 col-xlg-4" th:text="${project.getProject_sub_title()}"></p>
    </div>
    <div id="associated_tags_wrapper" class="border-top border-1 border-primary mt-5 py-3 col-8 mx-auto">
        <div><p class="fw-bold">Related Tags...</p>
            <span th:each="tag, tagIterStat : ${tags}"  th:text="${tag}" class="tag_btn px-auto mx-1 badge rounded-pill border border-primary text-primary"></span>
        </div>
    </div>
</section>
<section id="project_body" class="border-top border-dark border-1" style="min-height:700px;">

    <nav id="header-nav" class="navbar sticky-top bg-light px-3 mb-3">
        <ul class="nav nav-pills justify-content-end">
            <li th:each="blurb, headerStat : ${content}" class="nav-item">
                <a class="nav-link" th:href="|#spy${blurb.getBlurb_id()}|" th:text="${blurb.getTitle()}">First</a>
            </li>
        </ul>
    </nav>
<!--    <div data-bs-spy="scroll" data-bs-target="#header-nav" data-bs-offset="0" tabindex="0" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2 col-12 col-md-10 col-lg-7 mx-auto">-->
    <div data-bs-spy="scroll" data-bs-target="#header-nav" data-bs-offset="0" tabindex="0" class="p-3 rounded-2 col-12 col-md-10 col-lg-7 mx-auto bg-light mb-4">
        <div th:each="blurb, headerStat : ${content}" style="min-height:200px;">
            <h2 th:id="|spy${blurb.getBlurb_id()}|" th:text="${blurb.getTitle()}"></h2>
            <p th:text="${blurb.getBlurb_content()}"></p>
        </div>
    </div>

</section>
</body>
<footer id="footer">

</footer>
<script>
    $(function() {
        $("#header").load("components/navbar_header.html");
        $("#footer").load("components/footer.html");
    });
</script>
</html>